/* This is used by index.html to hide the message if the browser supports the presnettaion impress.js */
.impress-supported .fallback-message {
  display:none;
}

/*
  The body background is the bacgkround of "everything". Many
  impress.js tools call it the "surface". It could also be a
  picture or pattern, but we leave it as light gray.
*/

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;

    /* background: rgb(215, 215, 215); */
    color: rgb(70, 70, 70);
}

/* This little bit of CSS code is specifying the basic look of a slide in our presentation. We are giving slides a width of 400 pixels, and a height of 300 pixels. This gives them an aspect ratio of 4:3, the same as a PowerPoint slide. This is a little small, but that is on purpose, so that we can fit the slides in this article. Each slide is given an ugly black solid border of 4 pixels in width, with a padding of 20 pixels and a margin of 10. Nothing pretty, but it’ll do */
/* .step {
  overflow: hidden;
  width: 400px;
  height: 500px;
  padding: 20px;
  margin: 10px;
  border: 4px solid black;
} */

.step {
    /* overflow: hidden; */
    /* position: relative;
    width: 1850px;
    height: 1000px; */
    position: relative;
    width: 1280px;
    height: 720px;
    padding: 2px 3px;
    margin: 20px auto;
    box-sizing:         border-box;
}


/*
    Make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css

    Note that we also use a background image, again just to facilitate a common
    feature from PowerPoint and LibreOffice worlds. In this case the background
    image is just the impress.js favicon - as if it were a company logo or something.

*/
.slide {
    display: block;

    /* width: 1850px;
    height: 1000px; */
    width: 1000px;
    height: 700px;
    padding: 40px 60px;

    /* background-image: url(../images/background.png); */
    background-color: white;
    /* border: 2px solid rgba(0, 0, 0, .3); */
    /* COMMENT THE ABOVE OUT TO GET RID OF BOARDER BOX */
    /* border-radius: 30px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, .1); */

    /* text-shadow: 0 3px 3px rgba(0, 0, 0, .2); */

    font-family: 'Open Sans', Arial, sans-serif;
}


/* The below define the styles for the text on the slides */

.slide p {
  font-size: 3.5vmin;
  /* font-size: 6vh; */
  /* This is a relative font size, so teh text rescales depending on screen size  see https://css-tricks.com/viewport-sized-typography/ */
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: left;
}


.slide h1,
.slide h2,
.slide h3 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center;
}
p {text-align: center;}
h4 {text-align: center;font-size: 60px;}
h5 {text-align: center;font-size: 40px;}
h6 {text-align: center;font-size: 20px;}


footer {
  margin: 0 1.5% 24px 1.5%;
}
section {
  float: left;
  width: 63%;
}
aside {
  float: right;
  width: 30%;
}
footer {
  clear: both;
  margin-bottom: 0;
}

/* .step h1 {
  text-shadow: 4px 4px 3px #999999;
  font-size: 2.2em;
  line-height:2.3em;
}

.step h2 {
  text-shadow: 4px 4px 3px #999999;
  font-size: 1.8em;
  line-height:1.9em;
} */

/* .step ul {
  list-style-type: square;
  font-size: 1.4em;
  text-align: left;
  line-height: 1.5em;
  list-style-position: inside;
} */


.step .round{
    background: none repeat scroll 0 0 #2390C2;
    border: 20px solid;
    border-radius: 400px 400px 400px 400px;
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 90px;
    font-weight: bold;
    height: 150px;
    margin: auto;
    padding: 250px 0;
    text-align: center;
    vertical-align: middle;
    width: 650px;
}

.step ul {
  list-style-type: square;
  font-size: 3vh;
  text-align: left;
  line-height: 1.2;
  list-style-position: inside;
  transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  transition: all 0.2s ease-in 0s ;
  -moz-transition: all 1s ease-in 0s ;
  -ms-transition: all 1s ease-in 0s ;
  -o-transition: all 1s ease-in 0s ;
  -webkit-transition: all 0.2s ease-in 0s ;
}

.step.present ul {
  transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  -webkit-transform: translateX(0px);
}


/*
step and slide for team intro
*/

.slide_transparent {
    display: block;

    /* width: 1850px;
    height: 1000px; */
    width: 1000px;
    height: 700px;
    padding: 40px 60px;



    /* background-image: url(../images/background.png); */
    /* background-color: white; */
    /* border: 2px solid rgba(0, 0, 0, .3); */
    /* COMMENT THE ABOVE OUT TO GET RID OF BOARDER BOX */
    /* border-radius: 30px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, .1); */

    /* text-shadow: 0 3px 3px rgba(0, 0, 0, .2); */

    font-family: 'Open Sans', Arial, sans-serif;
}

.slide .right {
    float: right;
    margin-left:  60px;
    margin-right:   0px;
    margin-top:    40px;
    margin-bottom: 40px;
}
.slide .left {
    float: left;
    margin-right: 60px;
    margin-left:    0px;
    margin-top:    40px;
    margin-bottom: 40px;
}
.slide .top {
    position: absolute;
    top: 40px;
    margin-bottom:  40px;
    margin-top:      0px;
}
.slide .bottom {
    position: absolute;
    bottom: 40px;
    margin-bottom:   0px;
    margin-top:     40px;
}

.slide .center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top:    40px;
  margin-bottom: 40px;
}


.slide_transparent p {
  font-size: 3.5vmin;
  /* font-size: 6vh; */
  /* This is a relative font size, so teh text rescales depending on screen size  see https://css-tricks.com/viewport-sized-typography/ */
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: left;
}

.slide_transparent h1,
.slide_transparent h2,
.slide_transparent h3 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center;
}


/*
   Fade-in/out is a straightforward fade. Give it enough seconds that all browsers render it clearly.
*/
.future .fade-in {
    opacity: 0.0;
}
.present .fade-in {
    opacity: 1.0;
    transition: 2s;
}
.past .fade-out {
    opacity: 0.0;
    transition: 2s;
}


/*
    Zoom-in.
*/
.future  .zoom-in {
    transform:        scale(10);
    opacity: 0.0;
}
.present .zoom-in {
    transform:         scale(1);
    opacity: 1.0;
    transition: 3s;
}
.past  .zoom-out {
    transform:        scale(10);
    opacity: 0.0;
}


.centered_udlf {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .centered_udlf_bottom {
      position: fixed;
      top: 70%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }

  .centered_paragraph_udlf {
      position: fixed;
      top: 50%;
      left: 10%;
      /* bring your own prefixes */
      transform: translate(-5%, -50%);
    }



.centered_title_udlf {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }


  /* multi element slide layout */
.section {
    height: 80vh;
	  display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ABOUT */
#Slide {
	/* background-color: #D1C9BF; */
}

#SlideImage {
	border-color: none;
	background-color: none;
	height: 30vh;
	width: 20vw;
  padding: 3vmax;
}

#SlideText {
	border-color: white;
	background-color: none;
	font-size: 2.5vmax;
}

#SlideText p {
	font-size: 1.2vmax;
}


#footer {
    position: fixed;
    bottom: 1000;
    width: 100%;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

#center {
    width: 600px;
    margin: 0 auto;
}
